@model UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_UserLayout.cshtml";
}

<h1>Edit Profile</h1>
<form method="post" enctype="multipart/form-data">
    @Html.Label("name")
    <input type="text" asp-for="name" class="form-control" />
    <br />
    @Html.Label("surname")
    <input type="text" asp-for="surname" class="form-control" />
    <br />
    @Html.Label("Mail Address")
    <input type="text" asp-for="mail" class="form-control" />
    <br />
    @Html.Label("password")
    <input type="text" asp-for="password" class="form-control" />
    <br />
    @Html.Label("confirm password")
    <input type="text" asp-for="confirmpassword" class="form-control" />
    <br />
    @Html.Label("phone number")
    <input type="text" asp-for="phonenumber" class="form-control" />
    <br />
    <div class="form-group">
        <label>Chose Picture</label>
        <input type="file" asp-for="image" />
    </div>
    <br />
    <button class="btn btn-primary">Update Information</button>
</form>

