@model EntityLayer.Concrete.Destination
@{
    ViewData["Title"] = "DestinationDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!doctype html>
<body>
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Tour Details</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="#url">Home</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Guides Comments </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!--/blog-->
    <div class="py-5 w3l-homeblock1 text-center">
        <div class="container mt-md-3">
            <h3 class="blog-desc-big text-center mb-4">
                You should read our most up-to-date travel stories with our most competent guides in the field!
            </h3>
            <div class="blog-post-align">
                <div class="blog-post-img">
                    <a href="#"><img src="@Model.Guide.Image" alt="" class="rounded-circle img-fluid" /></a>
                </div>
                <div class="blog-post-info">
                    <div class="author align-items-center mb-1">
                        <a href="#">@Model.Guide.Name</a> in <a href="#url">@Model.Description</a>
                    </div>
                    <ul class="blog-meta">
                        <li class="meta-item blog-lesson">
                            <span class="meta-value"> @(((DateTime)Model.Date).ToString("dd-MMM-yyyy"))</span>
                        </li>
                        <li class="meta-item blog-students">
                            <span class="meta-value"> 6min read</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="blog-post-main w3l-homeblock1">
        <!--/blog-post-->
        <div class="blog-content-inf pb-5">
            <div class="container pb-lg-4">
                <div class="single-post-image">
                    <div class="post-content">
                        <img src="~/Traversal-Liberty/assets/images/banner2.jpg" class="radius-image img-fluid mb-5" alt="" />
                    </div>
                </div>
                <div class="single-post-content">
                    <p class="alphabet mb-4">
                        <span class="big-letter">Paris</span>@Model.Details1  
                    </p>

                    <blockquote class="blockquote my-5">
                        <div class="icon-quote"><span class="fa fa-quote-left" aria-hidden="true"></span></div>
                        Paris, the capital of France, is one of the most important and influential cities in the world. In terms of tourism, Paris is the second most visited city in Europe after London. In this travel guide, you’ll find out about the city’s top attractions, as well as useful travel advice on how to get to Paris and how to save money whilst traveling.
                        <footer class="blockquote-footer mt-3">
                            Smith lara
                        </footer>
                    </blockquote>
                    <h3 class="blog-desc-big m-0 mb-4">Why Visit Paris?</h3>

                    <div class="sing-post-thumb mb-5 row pt-3">
                        <div class="col-sm-6">
                            <a href="#url"><img src="~/Traversal-Liberty/assets/images/g1.jpg" class="img-fluid radius-image" alt=""></a>
                        </div>
                        <div class="col-sm-6 mt-sm-0 mt-3">
                            <a href="#url"><img src="~/Traversal-Liberty/assets/images/g10.jpg" class="img-fluid radius-image" alt=""></a>
                        </div>
                    </div>
               
                    <p class="mb-4">
                        @Model.Details2
                        The capital of France seems to have been designed specifically for the enjoyment of its visitors. Its streets, squares, buildings, gardens, and monuments beckon tourists to return, and indeed, many do.

                        Some of the most memorable things to do in Paris include visiting the Eiffel Tower, the Arc de Triomphe, and Notre Dame Cathedral. During the evening, experiencing one of the legendary Moulin Rouge cabaret shows, strolling through some of the most picturesque neighborhoods, like Montmartre, or climbing the Montparnasse Tower is a must.

                        It's always a good time to visit Paris. Depending on where you fly from, you can either make the most of the low-cost airlines flying into the city from other European cities or take one of its direct flights from further away destinations. If you have children, why not surprise them with a trip to Disneyland?
                    </p>
                    <div class="d-grid left-right mt-5 pb-md-5">
                        <div class="buttons-singles tags">
                            <h4>Tags :</h4>
                            <a href="#blog-tag">Travel</a>
                            <a href="#blog-tag">Culture</a>
                            <a href="#blog-tag">Hotel</a>
                            <a href="#blog-tag">Food</a>
                        </div>
                        <div class="buttons-singles">
                            <h4>Share :</h4>
                            <a href="#blog-share"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            <a href="#blog-share"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            <a href="#blog-share"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            <a href="#blog-share"><span class="fa fa-pinterest-p" aria-hidden=" true"></span></a>
                        </div>
                    </div>

                    <!--//author-card--> 
                    @await Component.InvokeAsync("_DestinationGuideDetailComponentPartial")

                    <!--//author-card-->
                    @await Component.InvokeAsync("_CommentListComponentPartial", new { id = ViewBag.i })
                    @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", new { id = ViewBag.desId })
                </div>
            </div>
        </div>
    </section>


</body>



